/* 600 and over */
@media (min-width: 600px) {
  .hamburger-bar {
    display: none !important;
  }
  .collapsed {
    display: none !important;
  }
}
button {
  border: none;
}
.collapsed {
  display: block;
}

.hamburger-bar {
  height: 100svh;
  position: absolute;
  width: 100vw;
  background-color: rgb(20, 20, 20);
  font-size: large;
}
.button-group button {
  background: none;
  padding: 20px;
  color: white;
}
.button-group {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.exit-button {
  position: absolute;
  right: 0;
  background-color: tomato;
  border-radius: 15%;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}
.hamburger-button {
  color: white;
  background-color: tomato;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.hamburger-button:hover {
  color: white;

  background-color: black;
  transition: 0.2s ease;
}
